* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
pre {
	font-size: 7em;
}
.tick line {
	stroke: #c0c0bb;
}
.tick text {
	fill: #635f5d;
}
.mark {
	fill: #137b80;
}
.axis-label {
	font-size: 2.5em;
	fill: #635f5d;
}

.tooltip {
	font-size: 14px;
	padding: 10px;
	text-align: center;
	background: #635f5d;
	color: #fff;
}
